<div class="users-main-container">
  <%= render "shared/navbar" %>
  <div class="users-container">
    <% @users.each do |user| %>
      <%= render "shared/user", :user => user %>
    <% end %>
  </div>
</div>
