<% if (post.comments.empty?) %>
  <p>No comment yet.</p>
<% else %>
  <% post.comments.each do |comment| %>
    <ul class="border-black ">
      <li><%= comment.author.name %>: <%= comment.text %></li>
    </ul>
  <% end %>
<% end %>