<div class="post-container">
    <h3> Post'#'<%= post.id %></h3>
    <p><%= truncate(post.text, length: 150, omission: "...") %></p>
    <div class="like-and-comment">
       Comments : <%= post.comments_counter %>,
       Likes : <%= post.likes_counter %>
    </div>
</div>