<div class="posts">
  <%= render partial: "shared/user", locals: { user: @user } %>
  <% @posts.each do |post| %>
    <%= link_to user_post_path(@user, post), class: "post" do %>
      <%= render "shared/posts", post: post %>
    <% end %>
  <% end %>
</div>